@font-face {
  font-family: "iconfont";
  /* Project id 3643350 */
  src: url('//at.alicdn.com/t/c/font_3643350_ozc90d1dss.woff2?t=1662960638088') format('woff2'), url('//at.alicdn.com/t/c/font_3643350_ozc90d1dss.woff?t=1662960638088') format('woff'), url('//at.alicdn.com/t/c/font_3643350_ozc90d1dss.ttf?t=1662960638088') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiaodianzan:before {
  content: "\e601";
}
.toutiaoguanbi:before {
  content: "\e602";
}
.toutiaogengduo:before {
  content: "\e603";
}
.toutiaoyanzhengma:before {
  content: "\e604";
}
.toutiaofenxiang:before {
  content: "\e605";
}
.toutiaoshouye:before {
  content: "\e606";
}
.toutiaoshouji:before {
  content: "\e607";
}
.toutiaowode:before {
  content: "\e608";
}
.toutiaowenda:before {
  content: "\e609";
}
.toutiaodianzan2:before {
  content: "\e60a";
}
.toutiaopinglun:before {
  content: "\e60b";
}
.toutiaozuojiantou:before {
  content: "\e60c";
}
.toutiaoyoujiantou:before {
  content: "\e60d";
}
.toutiaoyuedu:before {
  content: "\e60e";
}
.toutiaoshipin:before {
  content: "\e60f";
}
.toutiaozuopin:before {
  content: "\e610";
}
